<%- include('partials/_header')-%>
<%- include('partials/_navigation')-%>
<section class="page-section m-5" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Edit Project</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" method="POST" action="/projects/<%= project._id %>?_method=PUT" encType="multipart/form-data">
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" name="title" value="<%= project.title %>" id="name" type="text" placeholder="Project Name" data-sb-validations="required" />
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" name="description" id="email" value="<%= project.description %>" type="text" placeholder="Project Description" data-sb-validations="required" />
                    </div>
                    <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>
<%- include('partials/_footer')-%>